#------------------------| Frontend |----------------------------#

# Vite Configuration
VITE_API_URL=http://localhost:4000
WEB_PORT=5137

# Node Environment
NODE_ENV=development/production


#--------------------------| API V2 |------------------------------#

# API Configuration
APIV2_PORT=4000
APIV2_BASE_URL=http://apiv2:4000

# Roble Configuration - Dev
ROBLE_PROJECT=
ROBLE_BASE_URL=https://roble-api.openlab.uninorte.edu.co

# Test user configuration
INTERNAL_USER_EMAIL=
INTERNAL_USER_PASSWORD=

# Worker Environment Variables
WORKER_KEY=
PYTHON_QUEUE=python.queue
JAVA_QUEUE=java.queue
CPP_QUEUE=cpp.queue

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# AI API keys
GEMINI_API_KEY=


#------------------------------------------------------------------#
#                          DEPRECATED                              #
#------------------------------------------------------------------#

#--------------------------| API V1 |------------------------------#
# PostgreSQL Configuration
POSTGRES_USER=juez_prod
POSTGRES_PASSWORD=
POSTGRES_DB=juez_db_prod
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis Configuration (optional, leave empty for no password)
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379

# Worker Configuration
HOST_SUBMISSIONS_DIR=/data/submissions

# API Configuration
API_PORT=4000